<!DOCTYPE html>
<html ng-app="DTS_APP">
    <head>
        <title>Delivery Tracking System</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="shortcut icon" href="images/Eflow_Icon.ico">
		<link rel="stylesheet" href="styles/Css_Proyect.css">
      
	  <link rel="stylesheet" href="styles/Dashboard.css"> 
      
      <link rel="stylesheet" href="styles/responsive-calendar.css">
      <link rel="stylesheet" href="styles/pivot.css"> 
      
       <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
      
<script src="scripts/externals/jspdf.min.js"></script>
<script src="scripts/externals/jspdf.plugin.autotable.src.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
      <script src="//code.angularjs.org/1.2.19/i18n/angular-locale_es-es.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
		
      <script type="text/javascript" src="scripts/externals/Functions_Depurado.js"></script>
      <script type="text/javascript" src="scripts/externals/dateFormat.js"></script>
      <script src="scripts/externals/pagination.js"></script>
      <script src="scripts/externals/Dexie.js"></script> 
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyA6j2QfERe0APfyuG-tH6ffhM6vig3qoqk"></script>
		<script type="text/javascript" src="scripts/externals/Gmaps.js"></script>    
      <script type="text/javascript" src="scripts/externals/pivot.js"></script>
      <script type="text/javascript" src="scripts/externals/gchart_renderers.js"></script>  
      
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript" src="scripts/externals/knob.js"></script>  
       

    <!-- 	<script src="scripts/externals/jsPDF.js"></script>
      
      <script src="scripts/externals/AutoTable.js"></script>
-->
  
<style>
.modal {
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.modal-backdrop
{
    opacity:0.9 !important;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-centerg {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-contentg {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

 .footer {
        color:#000000;
        background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
      .nav.nav-tabs.nav-justified li a {
    color: #fff;
}  
  .nav.nav-tabs.nav-justified li:hover a {

  color: #000;
}
   .dropdown-menu li:hover a {

  color: #000;
} 
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
      </style>
      
      
      <script src="app.js"></script>
		<script src="scripts/controllers/indexController.js"></script>
		<script src="scripts/controllers/Scr_Job_Import_Controller.js"></script>
		<script src="scripts/controllers/Scr_User_Import_Controller.js"></script>
		<script src="scripts/controllers/Scr_Vehicle_Import_Controller.js"></script>
		<script src="scripts/controllers/Scr_Route_Import_Controller.js"></script>
		<script src="scripts/controllers/Scr_VisitPoint_Import_Controller.js"></script>
		<script src="scripts/controllers/Scr_VisitPoint_DB_Controller.js"></script>
      <script src="scripts/controllers/Scr_Login_Controller.js"></script>
      <script src="scripts/controllers/Scr_Calendar_Controller.js"></script>
      <script src="scripts/controllers/Scr_User_Controller.js"></script>
      <script src="scripts/controllers/Scr_Vehicle_Controller.js"></script>
      <script src="scripts/controllers/Scr_Vehicles_Detail_Controller.js"></script>
      <script src="scripts/controllers/Scr_Vehicles_Online_Controller.js"></script>
      <script src="scripts/controllers/Scr_VisitPoint_Controller.js"></script>
      <script src="scripts/controllers/Scr_Company_Controller.js"></script>
      <script src="scripts/controllers/Scr_Route_Controller.js"></script>
      <script src="scripts/controllers/Scr_Tracking_Controller.js"></script>      
      <script src="scripts/controllers/Scr_Summary_Controller.js"></script>
      <script src="scripts/controllers/Scr_VisitPoint_General_View_Controller.js"></script>
      <script src="scripts/controllers/Scr_Settings_Controller.js"></script>
      <script src="scripts/controllers/Scr_General_Detail_Controller.js"></script>
      <script src="scripts/controllers/Scr_Historic_Information_Controller.js"></script>
		<script src="scripts/controllers/Scr_Restoring_DB_Controller.js"></script>
      
	<script type="text/javascript" src="//cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
	<script type="text/javascript" src="//cdn.rawgit.com/MrRio/jsPDF/master/dist/jspdf.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
   
 
	 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>  
    </head>
    <body  ng-controller="indexController" ng-init="init();">
      <!-- HEADER AND NAVBAR -->
       <!--<header >
            <nav class="navbar navbar-inverse" style="">
               <div class="navbar-header" style="width:100%; color:#000000;background-color: #ffffff">
                 <span style=" float:left; text-align:left;">
                   <img src="images/Logo.jpg" align="left" alt="Eflow" height="42px">
        					<img src="images/DTS.png" align="left" alt="Delivery Tracking System" height="42px">
                 </span>
           <span >
                   	<a class="navbar-brand glyphicon glyphicon-time" style="color:#000000;">
                      {{Watch|date:"mediumTime"}}
                     </a> 
                 </span>
                 <span >
                  	<a class="navbar-brand glyphicon glyphicon-calendar"style="color:#000000;">
                      {{Watch|date:"shortDate"}}
                     </a>
                 </span>
                 <span style="float:right; text-align:right;color:#000000;">
                    <h4>
                  <ul style="list-style:none; ">
                     <li id="Login" class="dropdown" style="color:#000000;">
                       <span class="fa fa-university" data-toggle="tooltip" title="Usuario Activo"></span>{{Company}}      
                       <span class="glyphicon glyphicon-user" data-toggle="tooltip" title="Usuario Activo"></span>{{UserName}}      .
                       <a style="color:#000000;" ng-click="Sign_Out()" class="glyphicon glyphicon-log-out" data-toggle="tooltip" title="Cerrar Sesi&oacute;n" tabindex="0"></a>
                     </li>
                     </ul>
                   </h4>
                 </span>

              </div>
				  <div>
                <ul class="nav nav-tabs nav-justified" ng-show="Show_Components.Main_Menu">
                     <li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a href="#Calendar" data-toggle="tooltip" title="Planificador">Planificador</a></li>
                 		    
                  	<li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a href="#Vehicles_Online" data-toggle="tooltip" title="Ver vehículos en tiempo real">Tiempo Real</a></li>
               		<li ng-click="Show_Components.SubMenu_Maintenance = true;Show_Components.SubMenu_Import = false"><a data-toggle="tooltip" title="Mantenimiento">Mantenimiento</a>
                   		 <ul class="nav nav-tabs nav-justified" ng-show="Show_Components.SubMenu_Maintenance">
                  		    <li><a href="#user" data-toggle="tooltip" title="Usuarios">Usuarios</a></li>
                             <li><a href="#vehicle" data-toggle="tooltip" title="Vehículos">Vehículos</a></li>    
                             <li><a href="#VisitPoint" data-toggle="tooltip" title="Establecimientos">Establecimientos</a></li>          
                             <li><a href="#Routes" data-toggle="tooltip" title="Rutas">Rutas</a></li>           
                           
                   </ul></li>
                  	<li ng-click="Show_Components.SubMenu_Import = true;Show_Components.SubMenu_Maintenance = false"><a data-toggle="tooltip" title="Mantenimiento">Importar</a>
                   		 <ul class="nav nav-tabs nav-justified" ng-show="Show_Components.SubMenu_Import">
                  		     <li><a href="#Job_Import" data-toggle="tooltip" title="Importar Puntos de Visita">Trabajos</a></li>
                  		     <li><a href="#User_Import" data-toggle="tooltip" title="Importar Usuarios">Usuarios</a></li> 
                             <li><a href="#Vehicle_Import" data-toggle="tooltip" title="Importar Vehículos">Vehículos</a></li>
                  		     <li><a href="#Route_Import" data-toggle="tooltip" title="Importar Rutas">Rutas</a></li> 
                             <li><a href="#VisitPoint_Import" data-toggle="tooltip" title="Importar Establecimientos">Establecimientos</a></li>          
                           
                   </ul></li>
                   
                    
                </ul>   
              </div>
            </nav>
        </header>--> <header>
            <nav class=" navbar navbar-dark bg-primary " style="color: #fff;">
               <div class="navbar-header" style="width:100%; color:#000000; background-color: #ffffff"><!--background-color: #014D7C;-->
                 
                 <span style=" float:left; text-align:left;">
                   <img src="images/Logo.jpg" align="left" alt="Eflow" height="42px">
                 
             <img src="images/DTS.png" align="left" alt="Delivery Tracking System" height="42px">
                 </span>
                 
           <span >
                    <a class="navbar-brand glyphicon glyphicon-time" style="color:#000000;">
                      {{Watch|date:"mediumTime"}}
                     </a> 
                 </span>
                 <span >
                   <a class="navbar-brand glyphicon glyphicon-calendar"style="color:#000000;">
                      {{Watch|date:"shortDate"}}
                     </a>
                 </span>
                 <span style="float:right; text-align:right; color:#000000;" ng-show="Show_Components.Login">
                   <h4>
                  <ul style="list-style:none; ">
                     <li id="" class="dropdown" style="color:#000000;">
                       <span class="fa fa-university" data-toggle="tooltip" title="Usuario Activo"  style="text-transform:lowercase "></span>{{Company}}      
                       <span class="glyphicon glyphicon-user" data-toggle="tooltip" title="Usuario Activo"></span>{{UserName}}
                       <span type="button" class="dropup fa fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="font-weight: bold;">Menú</span>
                           <ul class="dropdown-menu dropdown-menu-right">
                            <li><a style="color:#000000;" ng-click="Sign_Out()" class="fa fa-sign-out" data-toggle="tooltip" title="Cerrar Sesi&oacute;n" tabindex="0"> Cerrar Sesi&oacute;n</a></li>
                            <li><a style="color:#000000;" href="#Settings" class="fa fa-cog" data-toggle="tooltip" title="Ajustes" tabindex="0"> Ajustes</a></li>
                            <li><a style="color:#000000;" href="#Restoring_DB" class="fa fa-database" data-toggle="tooltip" title="Administracion de Base Datos" tabindex="0"> Base Datos</a></li>  
                            <li><a style="color:#000000;" href="#General_Detail" class="fa fa-area-chart" data-toggle="tooltip" title="Administracion de Reportes" tabindex="0"> Reporteria</a></li>  
                           
					<!--  	 <li><a style="color:#000000;" href="#General_Detail_Routes" class="glyphicon glyphicon-road" data-toggle="tooltip" title="General Detail Routes" tabindex="0"> General Detail Routes</a></li>  
                            
                             <li><a style="color:#000000;" href="#Historic_Information" class="glyphicon glyphicon-calendar" data-toggle="tooltip" title="Información Histórica" tabindex="0"> Información Histórica</a></li> 
                        <li><a style="color:#000000;" href="#Prueba" class="glyphicon glyphicon-road" data-toggle="tooltip" title="Prueba" tabindex="0"> Prueba</a></li>
                          --> </ul>
                     </li>
                     </ul>
                   </h4>
                 </span>
                 <span style="float:right; text-align:right; color:#000000;">
                   <h4>
                 <!-- 	 <a href="#tracking"  class="button icon-left ion-search button-clear button-dark"> Rastreo.   </a>-->
                 </h4>
                 </span>
                   
              </div>
      <div> <!--
         <ul class="nav nav-tabs nav-justified" ng-show="Show_Components.Menu=true"> 
        <li><a  href="#Login" data-toggle="tooltip" title="Login">Ingreso</a></li>
        <li><a  href="#Verificar" data-toggle="tooltip" title="Verificar">Verificar Pedido</a></li>
        </ul>      -->
        <ul class="nav nav-tabs nav-justified" ng-show="Show_Components.Main_Menu"> 
                     <li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a  href="#Calendar" data-toggle="tooltip" title="Planificador">Planificador</a></li>
                     
                       
                   <li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a href="#Vehicles_Online" data-toggle="tooltip" title="Ver vehículos en tiempo real">Tiempo Real</a></li>
 <li class="dropdown" ng-click="Show_Components.SubMenu_Maintenance = true;Show_Components.SubMenu_Import = false">
          <a  class="dropdown-toggle" data-toggle="dropdown" title="Mantenimiento">Mantenimiento <span class="caret"></span></a>
          <ul class="dropdown-menu " style="background-color:#3E94DF; "ng-show="Show_Components.SubMenu_Maintenance">
                        <li><a style="color:#000;" href="#user" data-toggle="tooltip" title="Usuarios">Usuarios</a></li>
                             <li><a style="color:#000;" href="#vehicle" data-toggle="tooltip" title="Vehículos">Vehículos</a></li>    
                             <li><a style="color:#000;" href="#VisitPoint" data-toggle="tooltip" title="Establecimientos">Establecimientos</a></li>          
                             <li><a style="color:#000;" href="#Routes" data-toggle="tooltip" title="Sector">Sectores</a></li>           
                            <!-- <li><a href="#product" data-toggle="tooltip" title="Productos">Productos</a></li>  --> 
                   
                   </ul>
        </li>
<li class="dropdown" ng-click="Show_Components.SubMenu_Import = true;Show_Components.SubMenu_Maintenance = false">
          <a  class="dropdown-toggle" data-toggle="dropdown" title="Importar">Importar<span class="caret"></span></a>
          <ul class="dropdown-menu"  style="background-color:#3E94DF; " ng-show="Show_Components.SubMenu_Import">
                         <li><a style="color:#000;" href="#Job_Import" data-toggle="tooltip" title="Importar Puntos de Visita">Puntos de Visita</a></li>
                         <li><a style="color:#000;"href="#User_Import" data-toggle="tooltip" title="Importar Usuarios">Usuarios</a></li> 
                             <li><a style="color:#000;" href="#Vehicle_Import" data-toggle="tooltip" title="Importar Vehículos">Vehículos</a></li>
                         <li><a style="color:#000;" href="#Route_Import" data-toggle="tooltip" title="Importar Sector">Sectores</a></li> 
                             <li><a style="color:#000;" href="#VisitPoint_Import" data-toggle="tooltip" title="Importar Establecimientos">Establecimientos</a></li>          
                            <!-- <li><a href="#product" data-toggle="tooltip" title="Productos">Productos</a></li>  --> 
                   
                   </ul></li>
                  
                 <li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a  href="#Data_Summary" data-toggle="tooltip" title="Análisis Datos">Análisis Datos</a></li> 
          			    <li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a href="#Historic_Information" data-toggle="tooltip" title="Información Histórica" > Información Histórica</a></li> 
                        <!--      <li><a style="color:#000000;" href="#General_Detail"  data-toggle="tooltip" title="General Detail Routes" tabindex="0"> Prueba</a></li>  
                            
                      
          <li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a  href="#Settings" data-toggle="tooltip" title="Ajustes">Ajustes</a></li> -->
               </ul>
              </div>
            </nav>
        </header>
      
      
          <!-- Modal -->
<div class="modal fade" id="Log_Out" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                         <h4 class="modal-title" id="myModalLabel">DTS</h4>
                </div>
                <div class="modal-body">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Cerrando Sesión...
                </div>
                <div class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div>
</div>
      
     
      
        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">
            <!-- angular templating -->
            <!-- this is where content will be injected -->
				<div ng-view></div>
          
          
    <!--  <script src="scripts/externals/Dashboard.js"></script> -->
        </div>
  
  </body>
    </html>