<!DOCTYPE html>
<html ng-app="DTS_APP">
    <head>
        <title>Delivery Tracking System</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="shortcut icon" href="images/Eflow_Icon.ico">
		<link rel="stylesheet" href="styles/Css_Proyect.css">
      
	   <link rel="stylesheet" href="styles/Dashboard.css">
      
      <link rel="stylesheet" href="styles/responsive-calendar.css">
<script src="scripts/externals/jspdf.min.js"></script>
<script src="scripts/externals/jspdf.plugin.autotable.src.js"></script>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
      <script src="//code.angularjs.org/1.2.19/i18n/angular-locale_es-es.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
		<script type="text/javascript" src="scripts/externals/Functions_Depurado.js"></script>
      <script type="text/javascript" src="scripts/externals/dateFormat.js"></script>
      <script src="scripts/externals/pagination.js"></script>
      <script src="scripts/externals/Dexie.js"></script> 
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyA6j2QfERe0APfyuG-tH6ffhM6vig3qoqk"></script>
		<script type="text/javascript" src="scripts/externals/Gmaps.js"></script>

    <!-- 	<script src="scripts/externals/jsPDF.js"></script>
      
      <script src="scripts/externals/AutoTable.js"></script>
-->
    <style>
      .footer {
        color:#000000;
        background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
      </style>
      
      
      <script src="app.js"></script>
		<script src="scripts/controllers/indexController.js"></script>
		<script src="scripts/controllers/Scr_Job_Controller_jqwidgets.js"></script>
		<script src="scripts/controllers/Scr_Job_Import_Controller.js"></script>
		<script src="scripts/controllers/Scr_User_Import_Controller.js"></script>
		<script src="scripts/controllers/Scr_Vehicule_Import_Controller.js"></script>
		<script src="scripts/controllers/Scr_Route_Import_Controller.js"></script>
		<script src="scripts/controllers/Scr_VisitPoint_Import_Controller.js"></script>
		<script src="scripts/controllers/Scr_VisitPoint_DB_Controller.js"></script>
      <script src="scripts/controllers/Scr_PV_DB_Controller.js"></script>
      <script src="scripts/controllers/Scr_Login_Controller.js"></script>
      <script src="scripts/controllers/Scr_Calendar_Controller.js"></script>
      <script src="scripts/controllers/Scr_Message_Controller.js"></script>
      <script src="scripts/controllers/Scr_User_Controller.js"></script>
      <script src="scripts/controllers/Scr_Vehicule_Controller.js"></script>
      <script src="scripts/controllers/Scr_DashBoard_Controller.js"></script>
      <script src="scripts/controllers/Scr_Vehicules_Detail_Controller.js"></script>
      <script src="scripts/controllers/Scr_Vehicules_Online_Controller.js"></script>
      <script src="scripts/controllers/Scr_VisitPoint_Controller.js"></script>
      <script src="scripts/controllers/Scr_Company_Controller.js"></script>
      <script src="scripts/controllers/Scr_Route_Controller.js"></script>
      <script src="scripts/controllers/Scr_Product_Controller.js"></script>
     

      
	<script type="text/javascript" src="//cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
	<script type="text/javascript" src="//cdn.rawgit.com/MrRio/jsPDF/master/dist/jspdf.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
   
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>  
    </head>
    <body  ng-controller="indexController" ng-init="init();">
      <!-- HEADER AND NAVBAR -->
       <!--<header >
            <nav class="navbar navbar-inverse" style="">
               <div class="navbar-header" style="width:100%; color:#000000;background-color: #ffffff">
                 <span style=" float:left; text-align:left;">
                   <img src="images/Logo.jpg" align="left" alt="Eflow" height="42px">
        					<img src="images/DTS.png" align="left" alt="Delivery Tracking System" height="42px">
                 </span>
           <span >
                   	<a class="navbar-brand glyphicon glyphicon-time" style="color:#000000;">
                      {{Watch|date:"mediumTime"}}
                     </a> 
                 </span>
                 <span >
                  	<a class="navbar-brand glyphicon glyphicon-calendar"style="color:#000000;">
                      {{Watch|date:"shortDate"}}
                     </a>
                 </span>
                 <span style="float:right; text-align:right;color:#000000;">
                    <h4>
                  <ul style="list-style:none; ">
                     <li id="Login" class="dropdown" style="color:#000000;">
                       <span class="fa fa-university" data-toggle="tooltip" title="Usuario Activo"></span>{{Company}}      
                       <span class="glyphicon glyphicon-user" data-toggle="tooltip" title="Usuario Activo"></span>{{UserName}}      .
                       <a style="color:#000000;" ng-click="Sign_Out()" class="glyphicon glyphicon-log-out" data-toggle="tooltip" title="Cerrar Sesi&oacute;n" tabindex="0"></a>
                     </li>
                     </ul>
                   </h4>
                 </span>

              </div>
				  <div>
                <ul class="nav nav-tabs nav-justified" ng-show="Show_Components.Main_Menu">
                     <li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a href="#Calendar" data-toggle="tooltip" title="Planificador">Planificador</a></li>
                 		    
                  	<li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a href="#Vehicules_Online" data-toggle="tooltip" title="Ver vehículos en tiempo real">Tiempo Real</a></li>
               		<li ng-click="Show_Components.SubMenu_Maintenance = true;Show_Components.SubMenu_Import = false"><a data-toggle="tooltip" title="Mantenimiento">Mantenimiento</a>
                   		 <ul class="nav nav-tabs nav-justified" ng-show="Show_Components.SubMenu_Maintenance">
                  		    <li><a href="#user" data-toggle="tooltip" title="Usuarios">Usuarios</a></li>
                             <li><a href="#vehicule" data-toggle="tooltip" title="Vehículos">Vehículos</a></li>    
                             <li><a href="#VisitPoint" data-toggle="tooltip" title="Establecimientos">Establecimientos</a></li>          
                             <li><a href="#Routes" data-toggle="tooltip" title="Rutas">Rutas</a></li>           
                           
                   </ul></li>
                  	<li ng-click="Show_Components.SubMenu_Import = true;Show_Components.SubMenu_Maintenance = false"><a data-toggle="tooltip" title="Mantenimiento">Importar</a>
                   		 <ul class="nav nav-tabs nav-justified" ng-show="Show_Components.SubMenu_Import">
                  		     <li><a href="#Job_Import" data-toggle="tooltip" title="Importar Puntos de Visita">Trabajos</a></li>
                  		     <li><a href="#User_Import" data-toggle="tooltip" title="Importar Usuarios">Usuarios</a></li> 
                             <li><a href="#Vehicule_Import" data-toggle="tooltip" title="Importar Vehículos">Vehículos</a></li>
                  		     <li><a href="#Route_Import" data-toggle="tooltip" title="Importar Rutas">Rutas</a></li> 
                             <li><a href="#VisitPoint_Import" data-toggle="tooltip" title="Importar Establecimientos">Establecimientos</a></li>          
                           
                   </ul></li>
                  
                  
                </ul>
              </div>
            </nav>
        </header>--> <header >
            <nav class="navbar navbar-inverse " style="color: #000000;">
               <div class="navbar-header" style="width:100%; color:#000000;background-color: #ffffff"><!--background-color: #014D7C;-->
                
                 <span style=" float:left; text-align:left;">
                   <img src="images/Logo.jpg" align="left" alt="Eflow" height="42px">
             <img src="images/DTS.png" align="left" alt="Delivery Tracking System" height="42px">
                 </span>
           <span >
                    <a class="navbar-brand glyphicon glyphicon-time" style="color:#000000;">
                      {{Watch|date:"mediumTime"}}
                     </a> 
                 </span>
                 <span >
                   <a class="navbar-brand glyphicon glyphicon-calendar"style="color:#000000;">
                      {{Watch|date:"shortDate"}}
                     </a>
                 </span>
                 <span style="float:right; text-align:right;color:#000000;">
                    <h4>
                  <ul style="list-style:none; ">
                     <li id="Login" class="dropdown" style="color:#000000;">
                       <span class="fa fa-university" data-toggle="tooltip" title="Usuario Activo"></span>{{Company}}      
                       <span class="glyphicon glyphicon-user" data-toggle="tooltip" title="Usuario Activo"></span>{{UserName}}      .
                       <a style="color:#000000;" ng-click="Sign_Out()" class="glyphicon glyphicon-log-out" data-toggle="tooltip" title="Cerrar Sesi&oacute;n" tabindex="0"></a>
                     </li>
                     </ul>
                   </h4>
                 </span>
                     
              </div>
      <div>
                <ul class="nav  nav-tabs nav-justified" style="color:#FFFFFF;" ng-show="Show_Components.Main_Menu">
                     <li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a style="color:#FFFFFF;" href="#Calendar" data-toggle="tooltip" title="Planificador">Planificador</a></li>
                       
                   <li ng-click="Show_Components.SubMenu_Maintenance = false;Show_Components.SubMenu_Import = false"><a style="color:#FFFFFF;" href="#Vehicules_Online" data-toggle="tooltip" title="Ver vehículos en tiempo real">Tiempo Real</a></li>
 <li class="dropdown" ng-click="Show_Components.SubMenu_Maintenance = true;Show_Components.SubMenu_Import = false">
          <a style="color:#FFFFFF;" class="dropdown-toggle" data-toggle="dropdown" title="Mantenimiento">Mantenimiento <span class="caret"></span></a>
          <ul class="dropdown-menu"style="color:#FFFFFF;background-color:#050505 ;" ng-show="Show_Components.SubMenu_Maintenance">
                        <li><a style="color:#FFFFFF;" href="#user" data-toggle="tooltip" title="Usuarios">Usuarios</a></li>
                             <li><a style="color:#FFFFFF;" href="#vehicule" data-toggle="tooltip" title="Vehículos">Vehículos</a></li>    
                             <li><a style="color:#FFFFFF;" href="#VisitPoint" data-toggle="tooltip" title="Establecimientos">Establecimientos</a></li>          
                             <li><a style="color:#FFFFFF;" href="#Routes" data-toggle="tooltip" title="Rutas">Rutas</a></li>           
                            <!-- <li><a href="#product" data-toggle="tooltip" title="Productos">Productos</a></li>  --> 
                   
                   </ul>
        </li>
<li class="dropdown" ng-click="Show_Components.SubMenu_Import = true;Show_Components.SubMenu_Maintenance = false">
          <a style="color:#FFFFFF;" class="dropdown-toggle" data-toggle="dropdown" title="Importar">Importar<span class="caret"></span></a>
          <ul class="dropdown-menu" style="color:#FFFFFF;background-color:#050505 ;" ng-show="Show_Components.SubMenu_Import">
                         <li><a style="color:#FFFFFF;" href="#Job_Import" data-toggle="tooltip" title="Importar Puntos de Visita">Trabajos</a></li>
                         <li><a style="color:#FFFFFF;" href="#User_Import" data-toggle="tooltip" title="Importar Usuarios">Usuarios</a></li> 
                             <li><a style="color:#FFFFFF;" href="#Vehicule_Import" data-toggle="tooltip" title="Importar Vehículos">Vehículos</a></li>
                         <li><a style="color:#FFFFFF;" href="#Route_Import" data-toggle="tooltip" title="Importar Rutas">Rutas</a></li> 
                             <li><a style="color:#FFFFFF;" href="#VisitPoint_Import" data-toggle="tooltip" title="Importar Establecimientos">Establecimientos</a></li>          
                            <!-- <li><a href="#product" data-toggle="tooltip" title="Productos">Productos</a></li>  --> 
                   
                   </ul></li>
                  
                  
                </ul>
              </div>
            </nav>
        </header>
        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">
            <!-- angular templating -->
            <!-- this is where content will be injected -->
				<div ng-view></div>
          
          
    <!--  <script src="scripts/externals/Dashboard.js"></script> -->
        </div>
   <!--    <footer class="footer">
      <div class="container" align="right" >
 <span >
          	<a class="navbar-brand glyphicon glyphicon-time" style="color:#000000;">
            	{{Watch|date:"mediumTime"}}
            </a> 
          </span>
          <span >
            <a class="navbar-brand glyphicon glyphicon-calendar"style="color:#000000;">
            	{{Watch|date:"shortDate"}}
            </a>
        </span>
</div>
    </footer>-->
  <!--<footer class="footer">
  <div class="container">
    <p>
      
Hola Mundo
    </p>
  </div>  
  </footer>   --> 
  </body>
    </html>