<div>

 <div class="row text-center">
    <div class="col-sm-4" style="background-color:lavender;">2x3</div>   
    <div class="col-sm-4" style="background-color:lavender;">2x3</div>   
    <div class="col-sm-4" style="background-color:lavender;">2x3</div>   
</div>
 <div class="row text-center">
    <div class="col-sm-4" style="background-color:lavender;">2x3</div>   
    <div class="col-sm-4" style="background-color:lavender;">2x3</div>   
    <div class="col-sm-4" style="background-color:lavender;">2x3</div>   
</div>

</div>