<div class="row">
    <div class="col-sm-12" style="background-color:lavender;">1x1
  	
  <div class="row text-center">
     <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-list-ul" data-toggle="tooltip" title="Usuario"></i></span> 
                      <select required ng-model="DataSet" ng-options="DataSet.Name for DataSet in ArrayDataSet | filter: query : true track by DataSet._id.$id" class="form-control">
                        <option value="">Selección del Dashboard</option>
                       </select>                        
     </div>
   </div>
    <div id="Pivot_1x1">
    PIVOT  
    </div>  
    </div>   
</div>