
<div id="Contents"  ng-controller="Scr_General_Detail_Controller" ng-init="init()"> 

  
<div class="row">
  <div style="text-align:center;">
   
  </div>
  <div class="col-md-12" >      
      <div class="col-md-3 info-box" > 
          <h4> Devoluciones</h4>
          <h2 style="text-align: center;">{{Gra3 | number:0}}%</h2>
      </div>
      <div class="col-md-3 info-box"> 
          <h4> First Pass Yield</h4>
          <h2 style="text-align: center;">{{Gra6 | number:0}}%</h2>
      </div>
      <div class="col-md-3 info-box"> 
          <h4> On Time Delivery</h4>
          <h2 style="text-align: center;">{{Gra8 | number:0}}%</h2>
      </div>
      <div class="col-md-3 info-box" > 
          <h4> Efectividad de Entrega</h4>
          <h2 style="text-align: center;">{{Gra9 | number:0}}%</h2>
      </div>
   <div class="col-md-3 info-box" > 
          <h4> % Ordenes con Daño</h4>
          <h2 style="text-align: center;">{{Gra2 | number:0}}%</h2>
      </div>
      <div class="col-md-3 info-box" > 
          <h4> Devoluciones</h4>
          <h2 style="text-align: center;">{{Gra3 | number:0}}%</h2>
      </div>
      <div class="col-md-3 info-box"> 
          <h4> First Pass Yield</h4>
          <h2 style="text-align: center;">{{Gra6 | number:0}}%</h2>
      </div>
      <div class="col-md-3 info-box"> 
          <h4> On Time Delivery</h4>
          <h2 style="text-align: center;">{{Gra8 | number:0}}%</h2>
      </div>      
  </div>
  
  <div class="col-md-12" >
  		 <div class="col-md-4 info-box" style="background:#E6E6E6;" > 
           <h4>Porcentaje Espacio Utilizado</h4> 
           <h2 style="text-align: center;">51%</h2>
        </div>
        <div class="col-md-4 info-box" style="background:#E0F2F7;" > 
            <h4> Porcentaje de Ordenes con Dañados</h4>
            <h2 style="text-align: center;">51%</h2>
        </div>
        <div class="col-md-4 info-box" style="background:#FBFCF1;" > 
            <h4> First Pass Yield</h4>
            <h2 style="text-align: center;">51%</h2>
        </div>
  </div>
  
  <div class="col-md-12" >
       
        <div class="col-md-4" > 
            <h4> Drop Size</h4>
            <h2 style="text-align: center;">51%</h2>
          </div>
        <div class="col-md-4" > 
              
 
          </div>
        <div class="col-md-4"  > 
            <h4> Efectividad de Entrega</h4>
            <h2 style="text-align: center;">51%</h2>
          </div>
      </div>
</div>
  
   <div class="modal fade" id="Charging" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                         <h4 class="modal-title" id="myModalLabel">DTS</h4>
                </div>
                <div class="modal-body">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">  </span> 
                </div>
                <div class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div>
</div>
  

  
  
</div>