 <style>
      label.filebutton {
      overflow:hidden;
      position:relative;
  }

  label span input {
      position: absolute;
      opacity: 0;
      filter: alpha(opacity = 0);
      -ms-filter: "alpha(opacity=0)";
      cursor: pointer;
      _cursor: hand;
  }
  </style>

  <div id="Contents" ng-controller="Scr_PV_DB_Controller" ng-init="init()">
  <div id="Options">
    <span id="Buttons" style="margin-left:7%;">
    <span>
      <a class="btn btn-primary span4"  data-toggle="modal" data-target="#myModal_Add">
        <i class="glyphicon glyphicon-plus "></i>  Nueva Tarea</a>
    </span>

   <span class="btn btn-primary " > 
     <label class="filebutton">
        <span class="glyphicon glyphicon-search" > 
           <input value="Select" type="file" id="myfile"/>Buscar Archivo
        </span>
     </label>
   </span>
    <button type="button" class="btn btn-primary span4 glyphicon glyphicon-upload" ng-click="Jalar()">Cargar Datos</button>

    </span> 
    <span>
     <!-- <button type="button" class="btn btn-primary span4 glyphicon glyphicon-download-alt"  ng-click="Generar()">Descargar Datos</button>-->
      
    <button type="button" class="btn btn-primary span4" id="Cancel_Import" ng-click="verificar()">Cancelar Importación</button>

              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </span>

     <div class="panel-body">Importar
        
<input type="file" id="MyJsonFile" accept=".json,.xml"/>
       
    </div>
    
    
     </div>
    
    </div>

    <hr/>
<!--style="background-color: #BDBDBD"style="background-color: #449bca"-->
      <!--Table DB -->
      <div id="Table_PV_DB" class="table-responsive">
    <table class="table table-responsive table-striped table-hover" >
      <thead >
        <i class="btn btn-primary glyphicon glyphicon-remove-sign"  data-toggle="tooltip" title="Eliminar" ng-click="Remove_Job();"></i>
         <tr  >
          <th>
           </th> 
           <th ng-repeat="header in Headers" ng-click="Order(header.value);" ><i class="glyphicon glyphicon-sort"></i>   {{header.es}}</th>
         </tr>
        
      </thead>
      <tbody >
        
        <tr>
          <th>
            <input type=button value="Marcar" class="btn btn-primary span4" data-toggle="tooltip" title="Marcar/Desmarcar todas las filas" ng-click="Checking_Checkboxes()"/>
 		    </th>
          <th>
            <input ng-model="search.VisitPoint.Manager">
          </th>
          <th>
            <input ng-model="search.VisitPoint.Name">
          </th>
          <th>
            <input ng-model="search.VisitPoint.Address">
          </th>
          <th>
				<input type="number" ng-model="search.VisitPoint.Telephone_Number">          
          </th>
          <th>
            <input type="date" ng-model="search.VisitPoint.Estimated_Date">
          </th>
          <th>
            <input ng-model="search.VisitPoint.Estimated_Delivery_Time" type="number">
          </th>
          <th>
            <input ng-model="search.VisitPoint.DeliveryPeriod.Start">
          </th>
          <th>
            <input ng-model="search.VisitPoint.DeliveryPeriod.End">
          </th>
          <th>
            <input ng-model="search.User">
          </th>
          <th>
            <input ng-model="search.VisitPoint.Mail">
          </th>
        </tr>
        <tr  ng-repeat="obj in ArrayJobs | filter:search | orderBy: orderList " current-page="currentPage">
          <td><input type="checkbox" name="CheckBox_Options" value="{{obj._id.$id}}"/></td> 
          <td ng-click="See_Job(obj);">{{obj.VisitPoint.Manager}}</td> 
          <td ng-click="See_Job(obj);">{{obj.VisitPoint.Name}}</td> 
          <td ng-click="See_Job(obj);">{{obj.VisitPoint.Address}}</td>
          <td ng-click="See_Job(obj);">{{obj.VisitPoint.TelephoneNumber}}</td>
          <td ng-click="See_Job(obj);">{{obj.EstimatedDate | date:'dd/MM/yyyy'}}</td> 
          <td ng-click="See_Job(obj);">{{obj.EstimatedDeliveryTime}}</td> 
          <td ng-click="See_Job(obj);">{{obj.DeliveryPeriod.Start}}</td> 
          <td ng-click="See_Job(obj);">{{obj.DeliveryPeriod.End}}</td> 
          <td ng-click="See_Job(obj);">{{obj.User}}</td> 
          <td ng-click="See_Job(obj);">{{obj.VisitPoint.Mail}}</td> 
        </tr>
      </tbody>

    </table>
        <div class="text-center">
          
          </div>
  </div>
      
      <!-- Modal agregar task -->
      <div id="Modal_Add_PV" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">

            <div class="modal-header">
              <h2 class="modal-title"><i class="glyphicon glyphicon-briefcase"></i> Nueva Tarea</h2>
            </div>
            
            <div class="modal-body">

            <div class="panel panel-info"><div class="panel-heading"><b>Todos</b> los campos son requeridos.</div></div>
            <div class="form-group">
              <label>Nombre del establecimiento:</label>
              <input type="text" class="form-control" ng-model="New_Job.Name" placeholder="Nombre del establecimiento..." required>
            </div>
                     <div class="form-group">
              <label>Identificador del establecimiento:</label>
              <input type="text" class="form-control" ng-model="New_Job.IDDelivery_Location" placeholder="Identificador del establecimiento..." required text="{{obj.Manager}}">
            </div>
                    <div class="form-group">
              <label>Latitud</label>
              <input type="text" class="form-control" ng-model="New_Job.Latitude" placeholder="Latitud..." required>
            </div>
                    <div class="form-group">
              <label>Longitud:</label>
              <input type="number" class="form-control" ng-model="New_Job.Longitude" placeholder="Longitud..." required>
            </div>
                    <div class="form-group">
              <label>Dirección:</label>
              <input type="number" class="form-control" ng-model="New_Job.Address" placeholder="Dirección..." required>
            </div>
                   <div class="form-group">
              <label>Número de teléfono:</label>
              <input type="tel" class="form-control" ng-model="New_Job.TelephoneNumber" placeholder="Número de teléfono..." required>
            </div>
            <div class="form-group">
              <label>Entregar a:</label>
              <input type="text" class="form-control" ng-model="New_Job.Manager" placeholder="Entregar a..." required>
            </div>
            <div class="form-group">
              <label>Correo del establecimiento:</label>
              <input type="text" class="form-control" ng-model="New_Job.Mail" placeholder="Correo del establecimiento..." required>
            </div>
            <div class="form-group">
              <label for="usr">Prioridad:</label>
              <input type="number" class="form-control" ng-model="New_Job.Sequence" placeholder="Prioridad..." required>
            </div>        
            <div class="form-group">
              <label>Fecha de visita:</label>
              <input type="date" class="form-control" min="{{Watch|date}}" ng-model="New_Job.EstimatedDate" required>
            </div>        
            <div class="form-group">	 
               <label>Ventana de tiempo </label>
                <input type="time" style="width:40%;right: 55%; float:left; position: absolute;"  data-toggle="tooltip" title="Hora de Inicio" class="form-control" ng-model="New_Job.DeliveryPeriod_Start" required>
                <input type="time" style="width:40%; left: 55%; float:right;  position: absolute;" data-toggle="tooltip" title="Hora de Finalización" class="form-control" ng-model="New_Job.DeliveryPeriod_End" required>
            </div> 
            <br>
            <div class="form-group">
              <label>Tiempo promedio:</label>
              <input type="number" class="form-control" ng-model="New_Job.EstimatedDeliveryTime" placeholder="Tiempo promedio..." required>
            </div>  
            <div class="form-group">
              <label>Asignar a:</label>
            
             <input type="text" class="form-control" ng-model="New_Job.User" placeholder="Asignar a..." required>
            </div>
            <div  id="demo" class="panel panel-primary">
             <div class="panel-heading" data-toggle="" data-target="#demo"><b>Trabajos</b></div>  
           <div class="panel-body"> 
              <div class="form-group">
                  <label>Tipo de Tarea:</label>
                  <div class="form-group">
                      <select class="form-control" ng-model="Task.Type" required> 
                        <option value="">Vacío</option>
                        <option value="Delivery">Entrega</option>
                        <option value="Devolution">Devolución</option>
                      </select>
                    </div>        
                    <label>Nombre:</label>
                    <input type="text" class="form-control" ng-model="Task.Name" placeholder="Nombre...">
               </div>        
                        <div class="form-group">
                      <label>Descripción:</label>
                       <input type="text" class="form-control" ng-model="Task.Description" placeholder="Descripción...">
                    </div>        
                        <div class="form-group">
                      <label>Unidad de medida:</label>
                       <input type="text" class="form-control" ng-model="Task.UoM" placeholder="Unidad de medida...">
                    </div> 
                        <div class="form-group">
                      <label>Cantidad:</label>
                       <input type="text" class="form-control" ng-model="Task.Quantity" placeholder="Cantidad...">
                    </div> 
                        <div class="form-group">
                      <label>Instrucciones:</label>
                       <input type="text" class="form-control" ng-model="Task.Instruction" placeholder="Instrucciones...">
                    </div>
                        <div class="form-group">
                      <label>Foto:</label>
                        <input type="file" class="form-control" id="Task.Photo"/>
                    </div> 
                    <div class="form-group">
                      <span>
                        <a   ng-click="Add_Task_In_New_Array(Task)">
                          <i class="glyphicon glyphicon-check" ></i> Guardar Trabajo</a>
                      </span>
                    </div> 
                    <hr/>
                    <div class="table-responsive">
                      <h4>Trabajos asignados</h4>
                      <table class="table table-condensed">
                        <thead>
                          <tr>
                            <th>Tipo de Tarea</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Instrucciones</th>
                            <th>Eliminar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="task in Array_New_Task">
                            <td>{{task.JobType}}</td>
                            <td>{{task.JobName}}</td>
                            <td>{{task.JobDescription}}</td>
                            <td>{{task.UOM}}</td>
                            <td>{{task.Quantity}}</td>
                            <td>{{task.JobInstructions}}</td>
                            <td>
                            <a class="btn btn-danger">
                              <i class="glyphicon glyphicon-remove-sign" ng-click="Remove_In_Array(task,Array_New_Task);"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
        </div>


         </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-primary glyphicon glyphicon-save"  data-dismiss="modal" ng-click="Add_New_Job(New_Job)"> Guardar</button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-remove"  data-dismiss="modal" ng-click="Close(New_Job)"> Cerrar</button>
              
              <a class="btn btn-primary glyphicon glyphicon-remove" data-dismiss="modal"><b> Cerrar</b></a>

            </div>
               </div>
                  



        </div>
      </div>

      </div>

      <!-- Modal edit Db -->
      <div id="Modal_Edit_PV" class="table-responsive modal fade" role="dialog">

        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">

            <div class="modal-header">
              <h2 class="modal-title"><i class="glyphicon glyphicon-briefcase"></i> Visualizar/Editar Tareas</h2>
            </div>
          
            <div class="modal-body">

            <div class="panel panel-info"><div class="panel-heading"><b>Puede</b> editar los campos.</div></div>
            <div class="form-group">
              <label>Nombre del establecimiento:</label>
              <input type="text" class="form-control" ng-model="PV.VisitPoint.Name" placeholder="Nombre del establecimiento..." required>
            </div>
                     <div class="form-group">
              <label>Identificador del establecimiento:</label>
              <input type="text" class="form-control" ng-model="PV.VisitPoint.IDDelivery_Location" placeholder="Identificador del establecimiento..." required text="{{obj.Manager}}">
            </div>
                    <div class="form-group">
              <label>Latitud</label>
              <input type="text" class="form-control" ng-model="PV.VisitPoint.Geolocation.Latitude" placeholder="Latitud..." required>
            </div>
                    <div class="form-group">
              <label>Longitud:</label>
              <input type="text" class="form-control" ng-model="PV.VisitPoint.Geolocation.Longitude" placeholder="Longitud..." required>
            </div>
                    <div class="form-group">
              <label>Dirección:</label>
              <input type="text" class="form-control" ng-model="PV.VisitPoint.Address" placeholder="Dirección..." required>
            </div>
                   <div class="form-group">
              <label>Número de teléfono:</label>
              <input type="text" class="form-control" ng-model="PV.VisitPoint.TelephoneNumber" placeholder="Número de teléfono..." required>
            </div>
            <div class="form-group">
              <label>Entregar a:</label>
              <input type="text" class="form-control" ng-model="PV.VisitPoint.Manager" placeholder="Entregar a..." required>
            </div>
            <div class="form-group">
              <label>Correo del establecimiento:</label>
              <input type="text" class="form-control" ng-model="PV.VisitPoint.Mail" placeholder="Correo del establecimiento..." required>
            </div>
            <div class="form-group">
              <label for="usr">Prioridad:</label>
              <input type="number" class="form-control" ng-model="PV.Sequence" placeholder="Prioridad..." required>
            </div>        
            <div class="form-group">
              <label>Fecha de visita:</label>
              <input type="date" class="form-control" ng-model="PV.EstimatedDate" required>
            </div>        
            <div class="form-group">	 
               <label>Ventana de tiempo </label>
                <input type="time" style="width:40%;right: 55%; float:left; position: absolute;"  data-toggle="tooltip" title="Hora de Inicio" class="form-control" ng-model="PV.DeliveryPeriod.Start" required>
                <input type="time" style="width:40%; left: 55%; float:right;  position: absolute;" data-toggle="tooltip" title="Hora de Finalización" class="form-control" ng-model="PV.DeliveryPeriod.End" required>
            </div> 
            <br>
            <div class="form-group">
              <label>Tiempo promedio:</label>
              <input type="number" class="form-control" ng-model="PV.EstimatedDeliveryTime" placeholder="Tiempo promedio..." required>
            </div>  
            <div class="form-group">
              <label>Asignar a:</label>
             <input type="text" class="form-control" ng-model="PV.User" placeholder="Asignar a..." required>
            </div>
            <div  id="demo" class="panel panel-primary">
             <div class="panel-heading" data-toggle="" data-target="#demo"><b>Trabajos</b></div>  
           <div class="panel-body"> 

                    <div class="table-responsive">
                      <table class="table table-condensed">
                        <thead>
                          <tr>
                            <th>Tipo de Tarea</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Instrucciones</th>
                            <th>Mantenimiento</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="task in Array_PV_Task">
                            <td>{{task.JobType}}</td>
                            <td>{{task.JobName}}</td>
                            <td>{{task.JobDescription}}</td>
                            <td>{{task.UOM}}</td>
                            <td>{{task.Quantity}}</td>
                            <td>{{task.JobInstructions}}</td>
                            <td>
                            <a class="btn btn-danger">
                              <i class="glyphicon glyphicon-remove-sign" ng-click="Remove_In_Array(task,Array_PV_Task);"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
        </div>


         </div>

            <div class="modal-footer">
            <button type="submit" class="btn btn-primary glyphicon glyphicon-save" data-dismiss="modal" ng-click="Save_Job_Edit(PV)"> Guardar</button>
            <a class="btn btn-primary glyphicon glyphicon-remove" data-dismiss="modal"><b> Cerrar</b></a>

            </div>
               </div>
                  



        </div>
      </div>

      </div>

