<script src="scripts/externals/jspdf.min.js"></script>
<script src="scripts/externals/jspdf.plugin.autotable.src.js"></script>
<div ng-controller="Scr_Notification_Controller" ng-init="init()">  
  <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="box box-solid">
            <div class="box-header with-border btn btn-primary btn-block margin-bottom">
              <a class="box-title" style="color:#fff;">Carpetas
              </a>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="Show_Folder = ! Show_Folder; Switch_Folder_Data(Show_Folder);"><i  ng-class="Class_Folder"></i> 
                </button>
              </div>
            </div>
            <div class="box-body no-padding" ng-show="Show_Folder">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="">
                    <i class="fa fa-inbox"></i> Bandeja de enviados
                    <span class="label label-primary pull-right">
                 {{ArrayNotificacion.length}}
                    </span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-file-text-o"></i> Bandeja de entregados
                    <span class="label label-primary pull-right">{{(ArrayJobs | filter:  {'State': 'Read'} :true).length}}
                    </span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-envelope-o"></i> Bandeja de leidos
                    <span class="label label-primary pull-right">{{(ArrayJobs | filter:  {'State': 'Read'} :true).length}}
                    </span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-filter"></i> Filtro de busqueda 
                    <span class="label label-warning pull-right">65
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9" ng-show="Show_All_Message">
          <div class="box box-primary">
            <div class="box-header bg-primary with-border">
              <h3 class="box-title">Notificaciones</h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search Mail">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls ">
                <!-- Check all button -->
                <button type="button" class="btn btn-primary checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary"><i class="fa fa-trash-o"></i></button>
                  <button type="button" class="btn btn-primary"><i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-primary"><i class="fa fa-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                <div class="pull-right">
                 {{ArrayNotificacion.length}}
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
              <div class="table-responsive ">
                <table class="table table-hover" class="resizable" >
					 <tbody>
                  <tr style="color:#000; align:center" ng-repeat="Obj in ArrayNotificacion">
                    <td>
                      <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                        <input type="checkbox" style="position: absolute; opacity: 0;">
                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
                        </ins>
                      </div>
                    </td>
                    <td ng-click="Info_Message(Obj,'Read')" class="mailbox-name">{{Obj.User}}</td>
                    <td ng-click="Info_Message(Obj,'Read')" class="mailbox-subject"> {{Obj.ID_Truck}}</td>
                    <td ng-click="Info_Message(Obj,'Read')" class="mailbox-attachment">{{Obj.Matter}}</td>
                    <td ng-click="Info_Message(Obj,'Read')" class="mailbox-date">{{Obj.Estimated_Date}}</td>
                  </tr>
                  
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-primary checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary"><i class="fa fa-trash-o"></i></button>
                  <button type="button" class="btn btn-primary"><i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-primary"><i class="fa fa-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                <div class="pull-right">
                 {{ArrayNotificacion.length}}
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
            </div>
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
        

      
        <div class="col-md-9"  ng-show="Show_Read_Message">
          <div class="box box-primary">
            <div class="box-header bg-primary with-border">
              <h3 class="box-title ">Lectura de la notificación</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              
              <div class="mailbox-read-info" ng-repeat="mess in Message">
                <h5><b>Enviado por el usuario: </b>{{mess.Control.Created_User}}</h5>
                <h5><b>Enviado al usuario: </b>{{mess.User}}</h5>
                <h5><b>Enviado al Vehiculo: </b>{{mess.ID_Truck}}</h5>
                <h5><b>Enviado el </b>{{mess.Estimated_Date}}</h5>
                <h5><b>Recibido el </b>{{mess.Control.Syncroniced_Date}}</h5>
                <h5><b>Leido el </b>{{mess.Reading_Date}}</h5>
              </div>
              <div class="mailbox-controls with-border text-center">
                <div class="btn-group">
                   <button type="button" class="btn btn-primary" ng-click="Info_Message(mess,'Return')"data-toggle="tooltip" data-container="body" title="Regresar">
                    <i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-container="body" title="Reenviar">
                    <i class="fa fa-share"></i></button>
                 <button type="button" class="btn btn-primary" ng-click="Print_Message(mess,'Return')" data-toggle="tooltip"  data-container="body" title="Imprimir">
                  <i class="fa fa-print"></i></button>
                  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-container="body" title="Eliminar">
                    <i class="fa fa-trash-o"></i></button>
                </div>
              </div>
              <div class="mailbox-read-message" ng-repeat="mess in Message">
					<br/>
                <p>{{mess.Matter}}</p>
					<br/>
                <p>{{mess.Detail}}</p>
					<br/>
              </div>
            </div>
           
            <div class="box-footer">
              <div class="mailbox-controls with-border text-center">
				<div class="btn-group">
                   <button type="button" class="btn btn-primary" ng-click="Info_Message(mess,'Return')"data-toggle="tooltip" data-container="body" title="Regresar">
                    <i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-container="body" title="Reenviar">
                    <i class="fa fa-share"></i></button>
                 <button type="button" class="btn btn-primary" ng-click="Print_Message(mess,'Return')" data-toggle="tooltip"  data-container="body" title="Imprimir">
                  <i class="fa fa-print"></i></button>
                  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-container="body" title="Eliminar">
                    <i class="fa fa-trash-o"></i></button>
                </div>
             </div>
             </div>
            <!-- /.box-footer -->
          </div>
          <!-- /. box -->
        </div>
        
        
        <div class="col-md-9"  ng-show="Show_Read_Message1">
          <div class="box box-primary">
            <div class="box-header with-border ">
              <h3 class="box-title">Lectura de la notificación</h3>
            </div>
            <div class="box-body no-padding">
                <div class="mailbox-controls with-border text-center pull-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="Info_Message(Obj,'Return')"data-toggle="tooltip" data-container="body" title="Regresar">
                    <i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-container="body" title="Reenviar">
                    <i class="fa fa-share"></i></button>
                 <button type="button" class="btn btn-primary" data-toggle="tooltip"  data-container="body" title="Imprimir">
                  <i class="fa fa-print"></i></button>
                  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-container="body" title="Eliminar">
                    <i class="fa fa-trash-o"></i></button>
                </div>
                </div>
              <!-- /.mailbox-read-info -->
              <div class="mailbox-read-info">
                <h3>Message Subject Is Placed Here</h3>
                <h5>Enviado por el usuario: {{Obj.Control.Created_User}}</h5>
                <h5>Enviado al usuario: {{Obj.User}}</h5>
                <h5>Enviado al Vehiculo: {{Obj.ID_Truck}}</h5>
                <h5>Enviado el {{Obj.Estimated_Date}}</h5>
                <h5>Recibido el {{Obj.Control.Syncroniced_Date}}</h5>
                <h5>Leido el {{Obj.Reading_Date}}</h5>
              </div>
              <!-- /.mailbox-controls -->
              <div class="mailbox-read-message">
                <p>{{Obj.Matter}}</p>

                <p>{{Obj.Detail}}</p>
              </div>
            </div>
                <div class="mailbox-controls with-border text-center pull-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" ng-click="Info_Message(Obj,'Return')"data-toggle="tooltip" data-container="body" title="Regresar">
                    <i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-container="body" title="Reenviar">
                    <i class="fa fa-share"></i></button>
                 <button type="button" class="btn btn-primary" data-toggle="tooltip"  data-container="body" title="Imprimir">
                  <i class="fa fa-print"></i></button>
                  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-container="body" title="Eliminar">
                    <i class="fa fa-trash-o"></i></button>
                </div>
                </div>
          </div>
        </div>
        
      </div>
  </section>	
  
</div>

