<div ng-controller="Scr_Company_Controller" ng-init="init()">  
	<div class="panel panel-primary "  id="1"  ng-show="Show_Company" >
		<div class="panel-heading" >Datos de la Compañia</div>
      <div class="panel-body">
        <form  ng-submit="validate(Companys)"class="form-horizontal">
          <div class="form-group"> 
            <label  class="col-sm-3 control-label">Nombre:</label>
            <div class="col-sm-7"> 
              <input type="text" class="form-control" ng-model="Companys.name" placeholder="Nombre"required>
            </div>
    			<div class="col-sm-2"></div>
          </div>
        </form>
      </div>
	</div>
	<div class="panel panel-primary "  id="1"  ng-show="Show_User" >
		<div class="panel-heading" >Datos del Usuario</div>
      <div class="panel-body">
        
      </div>
	</div>
	<div class="panel panel-primary "  id="1"  ng-show="Show_Settings" >
		<div class="panel-heading" >Ajustes</div>
      <div class="panel-body">
        
      </div>
	</div>
</div>