<script type="text/javascript" src="scripts/externals/knob.js"></script>  
<div id="Contents" ng-controller="Scr_General_Detail_Controller" ng-init="init()"> 
<!--    
	<div class="modal fade" id="Charge_New_Modal" role="dialog">
		<div class="vertical-alignment-helper modal-dna">
			<div class="modal-dialog vertical-align-center  modal-lg">
				<div class="modal-content">
					<div class="modal-header modal-header-primary">
						<button type="button" class="close" ng-click="Close_Modal('#Charge_New_Modal');">&times;</button> 
						<h4 style="text-align: center;"><span class="fa fa-history"></span><label>  Analisis</label></h4>
					</div>
					<div class="modal-body">
          <form ng-submit="Charge_DataSet(DataSet);">     
          <div class="row">
           <div class="col-sm-6">
            <h4>
                 Filtro de Fecha:
             </h4>
           </div>
            <div class="col-sm-6">
           </div>
             <div class="space-line-5px"></div>
           <div class="col-sm-6">	
             <div class="input-group">
                    <span class="input-group-addon" ><i class="glyphicon glyphicon-calendar"></i> </span>
                    <input id="date" type="date" class="form-control" name="date" value="" ng-model="Historic.Date" placeholder="Fecha...">           
          	 </div>
           </div>
            <div class="col-sm-6">
              <div class="input-group">
                <button type="button" ng-click="Generate_Data(Historic.Date);" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>Buscar</button>
           	 </div> 
            </div>
        </div>    
        </form>            
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" ng-click="Close_Modal('#Charge_New_Modal');">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div class="row" ng-show="Show_Detail">
   
                <div class="col-xs-3 text-center" ng-repeat="obj in ArrayRoute">
                  <!--<input type="text" class="knob" value="50" readonly data-width="90" data-height="90" data-fgColor="#932ab6">-->
                         <input type="text" class="knob" value="{{((((ArrayJobs | filter:{Route:obj}).length)-((ArrayJobs | filter:{'Visit_State': 'In_Process',Route:obj}).length))/((ArrayJobs | filter:{Route:obj}).length))*100 | number:0}}%" readonly data-width="90" data-height="90" data-fgColor="#932ab6">
                  <!--<input type="text" class="knob" value="{{((ArrayJobs).length - (ArrayJobs | filter:  {'Route.ID_Route': {{obj.ID_Route}}},{'Visit_State': 'In_Process'} :true).length)/((ArrayJobs).length)*100 | number:0}}%" readonly data-width="90" data-height="90" data-fgColor="#932ab6">-->
                 

                  <div class="knob-label"  ng-click="Generate_Data(obj)">{{obj.Route_Name}}</div>
                </div>
 </div>

 <div class="row">
    <div class="col-sm-4" ng-show="Show_VisitPoint_Route">
			<h2 align="center">
       Punto de Visita por Ruta
      </h2>
				<div id="piechart_3d" style="width:100%; height: 200%"></div>   
    </div>
    
     <div class="col-sm-4" ng-show="Show_Detail_VisitPoint"> 
      <h2 align="center">
        Detalle Punto de Visita por Ruta
      </h2>
      <table class="table table-responsive table-striped table-hover">
						<tbody>
                    <tr class="bg-aqua">
                       <th style="width: 10px">#</th>
                       <th>Producto</th>
                       <th>Cantidad</th>
                       <th>Porcentaje</th>
                    </tr>
                    <tr >
                       <td ng-click="PV_Info_Prod(job)">1</td>
                       <td class="text-left" ng-click="PV_Info_Prod(job)">sd</td>
                       <td ng-click="PV_Info_Prod(job)">50</td>
                       <td>
                          <div class="progress progress-xs progress-striped active">
                             <div class="progress-bar bg-teal" style="width:{{((12*100)/50)}}%"><b style="color:#000">Completo</b></div>
                          </div>
                       </td>
                    </tr>
                    <tr >
                       <td ng-click="PV_Info_Prod(job)">2</td>
                       <td class="text-left" ng-click="PV_Info_Prod(job)">sd</td>
                       <td ng-click="PV_Info_Prod(job)">50</td>
                       <td>
                          <div class="progress progress-xs progress-striped active">
                             <div class="progress-bar bg-teal" style="width:{{((12*100)/50)}}%"><b style="color:#000">Parcial</b></div>
                          </div>
                       </td>
                    </tr>
					  </tbody>
					</table>
    </div>
    
    <div class="col-sm-4" ng-show="Show_Detail_VisitPoint">
      <h2 align="center">
        Avance
      </h2>
				 <div id="columnchart_material" style="width: 100%; height: 1000%;"></div> 
    </div>
     
 </div>
   
  
  
</div>