<div id="Contents" ng-controller="Scr_Dashboard_Controller">
  

   
<div class="btn-group" role="group" aria-label="...">
    <button type="button" ng-click="template='views/Dashboard_1x1.html';" class="btn btn-primary"><i class="fa fa-table"></i> 1x1</button>
    <button type="button" ng-click="template='views/Dashboard_1x2.html';" class="btn btn-primary"><i class="fa fa-table"></i> 1x2</button>
    <button type="button" ng-click="template='views/Dashboard_2x1.html';" class="btn btn-primary"><i class="fa fa-table"></i> 2x1</button>
    <button type="button" ng-click="template='views/Dashboard_2x2.html';" class="btn btn-primary"><i class="fa fa-table"></i> 2x2</button>
    <button type="button" ng-click="template='views/Dashboard_3x1.html';" class="btn btn-primary"><i class="fa fa-table"></i> 3x1</button>
    <button type="button" ng-click="template='views/Dashboard_2x3.html';" class="btn btn-primary"><i class="fa fa-table"></i> 2x3</button>
    <button type="button" ng-click="template='views/Dashboard_3x2.html';" class="btn btn-primary"><i class="fa fa-table"></i> 3x2</button>
</div>
  
  <div ng-include="template">
      
  </div>
  
  
   

  
  
  
  
  
  
  
  <div class="modal fade" id="Charge_New_Dashboard" role="dialog">
    <div class="vertical-alignment-helper modal-dna">
        <div class="modal-dialog vertical-align-center  modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                      <!-- header -->  
                <button type="button" class="close" ng-click="Close_Modal('#Charge_New_Modal');">&times;</button> 
                <h4><span class="fa fa-line-chart"></span><label>Tablas de Visualización</label></h4>
              </div>
                <div class="modal-body">
                  <!-- body -->
                  
          <form ng-submit="Charge_DataSet(DataSet);">     
          <div class="row">
           <div class="col-sm-6">	
             <h4>
               Nombre del Dashboard:
             </h4>
                    <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-list-ul" data-toggle="tooltip" title="Usuario"></i></span> 
                      <select required ng-model="DataSet" ng-options="DataSet.Name for DataSet in ArrayDataSet | filter: query : true track by DataSet._id.$id" class="form-control">
                        <option value="">Selección del Dashboard</option>
                       </select>                        
                    </div>
           </div>
          
            <div class="col-sm-6">	
               <h4>
                 Nuevo
               </h4>
               <div class="input-group">
                 
                  <div class="btn-group" role="group" aria-label="...">
<button type="button" ng-click="Create_Dashboard(1,1);" class="btn btn-primary"><i class="fa fa-table"></i> 1x1</button>
<button type="button" ng-click="Create_Dashboard(2,1);" class="btn btn-primary"><i class="fa fa-table"></i> 2x1</button>
<button type="button" ng-click="Create_Dashboard(1,2);" class="btn btn-primary"><i class="fa fa-table"></i> 1x2</button>
<button type="button" ng-click="Create_Dashboard(2,2);" class="btn btn-primary"><i class="fa fa-table"></i> 2x2</button>
<button type="button" ng-click="Create_Dashboard(2,3);" class="btn btn-primary"><i class="fa fa-table"></i> 2x3</button>
<button type="button" ng-click="Create_Dashboard(3,2);" class="btn btn-primary"><i class="fa fa-table"></i> 3x2</button>

                  </div>
               </div>
           </div>
             
            
        </div>    
          
             <div class="space-line-5px"></div>
             <div class="space-line-5px"></div>
                  
        <div class="row">
           <div class="col-sm-12">	
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-import"></i>Cargar</button>
           </div>
        </div>  
                  
        </form>            
                  
                </div>
                <div class="modal-footer">
                   <!-- footer -->
                  <button type="button" class="btn btn-primary" ng-click="Close_Modal('#Charge_New_Modal');">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
  
  
  
  

</div>