<div class="container" ng-controller="Scr_Login_Controller" ng-init="init()">   
  
  
  
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
     
      
        <div class="row">                  
        </div>
      <form ng-submit="Log_In(Log);">
         <div class="panel panel-default">
            <div class="panel-heading" style="color:#fff;background-color: #3cab81;">
                <div class="panel-title text-center"><h4>
                  Delivery Tracking System 
                  </h4></div>
            </div>       
            <div class="panel-heading" style="color:#fff;background-color: #014D7C;">
                <div class="panel-title text-center">Ingreso al sistema</div>
            </div>     
            <div class="panel-body">
                <div name="form" id="form" class="form-horizontal">                   
                    <div class="input-group">
                        <span class="input-group-addon" style="background-color: #014D7C;color:#fff;"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="mail" type="email" required class="form-control" name="mail" value="" ng-model="Log.Mail" placeholder="Correo...">                                        
                    </div>
						<br/>
                    <div class="input-group">
                        <span class="input-group-addon" style="background-color: #014D7C;color:#fff;"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" required class="form-control" name="password" ng-model="Log.Password"  placeholder="Contrase&ntilde;a...">
                    </div>                                                                  
						<br/>
                   <!-- <div class="input-group">
                        <span class="input-group-addon" style="background-color: #014D7C;color:#fff;"><i class="fa fa-university"></i></span>
                        <input id="company" type="text" required class="form-control" name="company" ng-model="Log.Company"  placeholder="Compañia...">
                    </div> -->   
               <!--   <div class="checkbox">
                    <label><input type="checkbox" ng-model="Save_Session">Guardar la Sesión</label>
                  </div>-->
						<br/>
                    <div class="form-group">
                
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit"  class="btn btn-primary pull-right" style="background-color: #014D7C;color:#fff;" ><i class="glyphicon glyphicon-log-in"></i> Ingresar</button>                          
                             <span id="Buttons" style="margin-left:7%;">
  <span>
     <a class="btn btn-primary pull-right" style="background-color: #014D7C;color:#fff;"  ng-click="Open_Modal_Add_Company()" data-toggle="tooltip" title="Agregar una compañia" >
       <i ></i>Registrar</a>   
	</span></span>  
                      </div>
                    </div>
                </div>     
            </div>                     
        </div>  
      </form>
    </div>
  
  	<!-- Modal Agregar User-->
  <div class="modal fade" id="Modal_Agregar_Company" role="dialog">
    <div class="modal-dialog modal-lg">
                          <!-- Modal content-->
       <div class="modal-content">
				<div class="modal-header">
                <h2 class="modal-title"><i class="glyphicon glyphicon-user"></i>Datos de la Compañia</h2>
             </div> 
                <div class="modal-body">
        
                 <div class="panel panel-info">
                      <div class="panel-heading"><b>Todos</b> los campos son requeridos.
                      </div>
                  </div>
                     	 <div class="form-group">
                           
                        </div>
               </div>
               <form  ng-submit="validate(Companys)"class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group"> 
                      <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
                      <div class="col-sm-10">  
                        <input type="text" class="form-control" ng-model="Companys.name" placeholder="Nombre"required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Identificador</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="Companys.identifier" placeholder="Identificador"required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Dominio</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="Companys.domain" placeholder="Dominio"required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Correo</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="Companys.mail" placeholder="Correo"required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">País</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="Companys.country" placeholder="País"required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Ubicación</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="Companys.location" placeholder="Ubicacion"required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="Companys.phone" placeholder="Teléfono"required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Fax</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="Companys.fax" placeholder="Fax"required>
                      </div>
                    </div>
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right" >Guardar</button>
                  </div><!-- /.box-footer -->
                </form>
               
               
       </div>
    </div> 
  </div>     
                                
                                
                                
                                
                                
                                
                                
</div>