<div class="container" ng-controller="Scr_Settings_Controller" ng-init="init()">   
  	
        <form  ng-submit="SaveData();"class="form-horizontal">
          <div  class="panel panel-info">
            <div class="panel-heading" ng-click="Show_Settings_License= false;Show_Settings_User= false;Show_Settings_Fuel= false;Show_Settings_Vehicle= false;Show_Settings_Unity = true">Unidad de Medida</div>
            <div class="panel-body"  ng-show="Show_Settings_Unity"> 
                <label class="col-sm-2 control-label">Valor:</label>
                <input class="col-sm-2"type="text" name="Input_Value" class="form-control" ng-model="Unity.Value" placeholder="Valor...">
                <label class="col-sm-2 control-label">Descripcion:</label>
                <input class="col-sm-2" type="text" name="Input_Description" class="form-control" ng-model="Unity.Description" placeholder="Descripcion...">
                <div class="col-sm-4">
                  <a   ng-click="validate_Settings(Unity,Array_Unity)">
                    <i class="glyphicon glyphicon-check" >Guardar Unidad de Medida</i>
                  </a>
                </div>
                <table style="width:100%">
                  <tr>
                    <th class="col-sm-4">Valor</th>
                    <th class="col-sm-4">Descripcion</th>
                    <td class="col-sm-4">Mantenimiento</td>
                  </tr>
                  <tr ng-repeat="Unitis in Array_Unity">
                    <td class="col-sm-4"> {{Unitis.Value}}</td>
                    <td class="col-sm-4"> {{Unitis.Description}}</td>
                    <td class="col-sm-4">
                      <a class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove-sign" ng-click="Remove_In_Array(Unitis,Array_Unity)"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>  
          <div  class="panel panel-info">
            <div class="panel-heading"ng-click="Show_Settings_License= false;Show_Settings_User= false;Show_Settings_Fuel= true;Show_Settings_Vehicle= false;Show_Settings_Unity = false">Tipos de Combustible</div>
            <div class="panel-body"  ng-show="Show_Settings_Fuel"> 
                <label class="col-sm-2 control-label">Valor:</label>
                <input class="col-sm-2"type="text" name="Input_Value" class="form-control" ng-model="Fuel.Value" placeholder="Valor...">
                <label class="col-sm-2 control-label">Descripcion:</label>
                <input class="col-sm-2" type="text" name="Input_Description" class="form-control" ng-model="Fuel.Description" placeholder="Descripcion...">
                <div class="col-sm-4">
                  <a   ng-click="validate_Settings(Fuel,Array_Fuel)">
                    <i class="glyphicon glyphicon-check" >Guardar Unidad de Medida</i>
                  </a>
                </div>
                <table style="width:100%">
                  <tr>
                    <th class="col-sm-4">Valor</th>
                    <th class="col-sm-4">Descripcion</th>
                    <td class="col-sm-4">Mantenimiento</td>
                  </tr>
                  <tr ng-repeat="Fuels in Array_Fuel">
                    <td class="col-sm-4"> {{Fuels.Value}}</td>
                    <td class="col-sm-4"> {{Fuels.Description}}</td>
                    <td class="col-sm-4">
                      <a class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove-sign" ng-click="Remove_In_Array(Fuels,Array_Fuel)"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          <div  class="panel panel-info">
            <div class="panel-heading"ng-click="Show_Settings_License= false;Show_Settings_User= true;Show_Settings_Fuel= false;Show_Settings_Vehicle= false;Show_Settings_Unity = false">Tipos de Usuario</div>
            <div class="panel-body"ng-show="Show_Settings_User" > 
                <label class="col-sm-2 control-label">Valor:</label>
                <input class="col-sm-2"type="text" name="Input_Value" class="form-control" ng-model="User.Value" placeholder="Valor...">
                <label class="col-sm-2 control-label">Descripcion:</label>
                <input class="col-sm-2" type="text" name="Input_Description" class="form-control" ng-model="User.Description" placeholder="Descripcion...">
                <div class="col-sm-4">
                  <a   ng-click="validate_Settings(User,Array_User)">
                    <i class="glyphicon glyphicon-check" >Guardar Unidad de Medida</i>
                  </a>
                </div>
                <table style="width:100%">
                  <tr>
                    <th class="col-sm-4">Valor</th>
                    <th class="col-sm-4">Descripcion</th>
                    <td class="col-sm-4">Mantenimiento</td>
                  </tr>
                  <tr ng-repeat="Users in Array_User">
                    <td class="col-sm-4"> {{Users.Value}}</td>
                    <td class="col-sm-4"> {{Users.Description}}</td>
                    <td class="col-sm-4">
                      <a class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove-sign" ng-click="Remove_In_Array(Users,Array_User)"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          <div  class="panel panel-info">
            <div class="panel-heading" ng-click="Show_Settings_License= false;Show_Settings_User= false;Show_Settings_Fuel= false;Show_Settings_Vehicle= true;Show_Settings_Unity = false">Tipos de Vehiculos</div>
            <div class="panel-body" ng-show="Show_Settings_Vehicle"> 
                <label class="col-sm-2 control-label">Valor:</label>
                <input class="col-sm-2"type="text" name="Input_Value" class="form-control" ng-model="Vehicle.Value" placeholder="Valor...">
                <label class="col-sm-2 control-label">Descripcion:</label>
                <input class="col-sm-2" type="text" name="Input_Description" class="form-control" ng-model="Vehicle.Description" placeholder="Descripcion...">
                <div class="col-sm-4">
                  <a   ng-click="validate_Settings(Vehicle,Array_Vehicle)">
                    <i class="glyphicon glyphicon-check" >Guardar Unidad de Medida</i>
                  </a>
                </div>
                <table style="width:100%">
                  <tr>
                    <th class="col-sm-4">Valor</th>
                    <th class="col-sm-4">Descripcion</th>
                    <td class="col-sm-4">Mantenimiento</td>
                  </tr>
                  <tr ng-repeat="Vehicles in Array_Vehicle">
                    <td class="col-sm-4"> {{Vehicles.Value}}</td>
                    <td class="col-sm-4"> {{Vehicles.Description}}</td>
                    <td class="col-sm-4">
                      <a class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove-sign" ng-click="Remove_In_Array(Vehicles,Array_Vehicle)"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          <div  class="panel panel-info">
            <div class="panel-heading" ng-click="Show_Settings_License= true;Show_Settings_User= false;Show_Settings_Fuel= false;Show_Settings_Vehicle= false;Show_Settings_Unity = false">Tipos de Licencia</div>
            <div class="panel-body" ng-show="Show_Settings_License"> 
                <label class="col-sm-2 control-label">Valor:</label>
                <input class="col-sm-2"type="text" name="Input_Value" class="form-control" ng-model="License.Value" placeholder="Valor...">
                <label class="col-sm-2 control-label">Descripcion:</label>
                <input class="col-sm-2" type="text" name="Input_Description" class="form-control" ng-model="License.Description" placeholder="Descripcion...">
                <div class="col-sm-4">
                  <a   ng-click="validate_Settings(License,Array_License)">
                    <i class="glyphicon glyphicon-check" >Guardar Unidad de Medida</i>
                  </a>
                </div>
                <table style="width:100%">
                  <tr>
                    <th class="col-sm-4">Valor</th>
                    <th class="col-sm-4">Descripcion</th>
                    <td class="col-sm-4">Mantenimiento</td>
                  </tr>
                  <tr ng-repeat="Licenses in Array_License">
                    <td class="col-sm-4"> {{Licenses.Value}}</td>
                    <td class="col-sm-4"> {{Licenses.Description}}</td>
                    <td class="col-sm-4">
                      <a class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove-sign" ng-click="Remove_In_Array(Licenses,Array_License)"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          <div class="form-group">
            <div class="col-sm-12 controls">                        
          	  <button  type="submit" class="btn btn-primary pull-right" style="background-color: #014D7C;color:#fff;" ><i  class="glyphicon glyphicon-save"></i> Guardar</button>   
              <a href="#Calendar" ng-click="Show_Company= false; Show_User= false; Show_Settings = false" class="btn btn-primary pull-right" style="background-color: #014D7C;color:#fff;" >
                <i  class="glyphicon glyphicon-remove"></i> Cancelar</a>                                    	                         
            </div>
          </div>
        </form>
   
  
  
</div>